.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    background-color: #FC3F31;
    font-weight: 600;
    font-size: large;
    color: #fff;
    margin-top: 40px;

  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
 
  .footer-center {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-size: 20px;
font-family: Avenir;
font-weight: 500;
  }
  
  .footer-right {
    display: flex;
    align-items: center;
  }
  
  .footer-right a {
    color: #fff;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: none;
  }

  